@import "tailwindcss";

@theme {
  --color-accent: #a32a2a;
  --color-accent-dark: #930000;
  --color-accent-light: #ff8b8b;
  --color-accent-lighter: #ffb3b3;
  --color-accent-opacity: #ff8b8b;

  --color-bg-dark: #858589;
  --color-bg-light: rgb(251 251 251);

  --color-font-dark: rgb(66 66 66);
  --color-font-light: #9b9b9b;

  --color-error: rgb(231 0 0);

  --text-2xs: 1rem;
  --text-xs: 1.2rem;
  --text-sm: 1.2rem;
  --text-base: 1.6rem;
  --text-lg: 1.8rem;
  --text-xl: 2.2rem;
  --text-2xl: 3.8rem;

  --spacing-sm: 2rem;
  --spacing-md: 3.2rem;
  --spacing-lg: 5rem;

  --radius-sm: 1rem;
  --radius-md: 1.8rem;
  --radius-lg: 3.5rem;

  --shadow-default: 0 0.4rem 1.2rem rgb(0 0 0 /0.1);

  --breakpoint-sm: 500px;
  --breakpoint-md: 750px;
  --breakpoint-lg: 950px;
  --breakpoint-xl: 1450px;

  --animate-toast-in: toast-in 0.3s ease-out forwards;
}

@keyframes toast-in {
  from {
    opacity: 0;
    transform: translateY(1rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

:root {
  --max-width: 1322px;
}

@media (min-width: 500px) {
  :root {
    --text-sm: 1.4rem;
    --text-base: 1.6rem;
    --text-lg: 2rem;
    --text-xl: 3.2rem;
    --text-2xl: 4.8rem;
  }
}

html {
  font-size: 62.5%;
}

body {
  font-size: var(--text-base);
  color: var(--color-font-dark);
  font-family: var(--font-oswald);
  background-color: #ededee;
}

.container {
  width: 100%;
  max-width: var(--max-width);
  margin-inline: auto;
  padding-inline: 1rem;
}

@media (min-width: 750px) {
  .container {
    padding-inline: 2rem;
  }
}

.btn-primary {
  @apply border border-accent bg-accent font-bold px-12 py-5 text-white hover:!bg-white hover:text-accent;
}

.btn-primary-empty {
  @apply border border-font-dark bg-white font-bold px-12 py-5 hover:!bg-font-dark hover:text-white;
}
